* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style:normal 
	}
header article section footer nav aside{
	display: block;
}
body{
	font-weight: normal;
	font-size: 12px;
	color: #666666;
}

/* 头部 */
header#webTitle{
	width: 980px;
	margin: 0 auto;
}

#sectionTop1{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	width: 980px;
}

#topLeft{
}

#imglogo1{
	width: 100px;
	height: 74px;
}

#topMid{
	margin: auto;
}

#topMid #wrap #button {
	position: relative;
	right: 50px;
	color: white;
	width: 50px;
	height: 50px;
	background: url(../images/baidu1.png) no-repeat;
	border: 1px solid white;
	outline: none;
	font-size: 20px;
	padding: 5px;
	border-radius: 2px;
}

#topMid	#wrap #txt {
	border: 1px solid #46b8da;
	font-size: 22px;
	padding: 10px;
	border-radius:5px;
	outline:none;
}

#topMid	#wrap #res {
	position: absolute;
	background-color: rgba(102,139,139,0.5);
	color: white;
	font-size: 14px;
	margin: 0;
	padding: 0 2px;
	display: block;
	width: 280px;
}

.active {
	line-height: 20px;
	padding: 5px 0;
	color: white;
	text-decoration: none;
	display: block;
	background-color: #00BFFF;
}

#topRight{
	margin: auto 0;
	position: relative;
}
#topRight button{
	width: 50px;
	height: 50px;
	outline: none;
	border: 1px solid white;
}

#topRight #userLogin{
	background: url(../images/登录1.png) no-repeat;
}

#topRight #user-Register{
	margin-left: 10px;
	background: url(../images/注册.png) no-repeat;
	background-size: 38px 38px;
	background-position: right center;
}

/* 用户登录注册界面*/
.user-modal{
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,0.5); 
}
#user-form{
	box-sizing: border-box;
	box-shadow: 10px 10px 2px #645a5a;
	margin: 150px auto;
	width: 300px;
	height: 320px;
	background: #d6e9c6;
	border-radius: 5px;
	
}
.loginBtn{
	height: 80px;
}
.loginBtn button{
	float: left;
	width: 50%;
	background-color: white;
	border: 1px solid white;
	padding: 15px;
	font-size: 25px;
	margin-bottom: 10px;
}

.loginBtn #btn-left{
	background-color: #80808029;
	border: 1px solid #80808029;
}


/* 登录表单 */

#login_container {
	display: none;
	text-align: center;
	height: 200px;
	padding: 10px;
}

#login_container input{
	padding: 5px;
	width: 250px;
	font-size: 18px;
	margin: 10px;
}

#login_container .rememberOrfindPwd{
	display: inline-block;
	height: 40px;
}
#login_container .rememberOrfindPwd button{
	float: left;
	height: 40px;
	font-size: 20px;
	border: 1px solid white;
	width: 100px;
	position: relative;
	right: 27px;
	top: 10px;
}

#login_container .rememberOrfindPwd #remember{
	float: right;
	width: 100px;
	position: relative;
	bottom: 22px;
	left: 10px;
	
}
#login_container .rememberOrfindPwd span{
	position: relative;
	left: 50px;
	top: 17px;
	
}

/* 登录表单结束 */

/* 注册表单 */
#regist_container {
	display: none;
	text-align: center;
	height: 200px;
	padding: 10px;
}

#regist_container input{
	padding: 5px;
	width: 250px;
	font-size: 18px;
	margin: 10px;
}

#regist_container #login_btn{
	width: 100px;
	height: 40px;
	border: 1px solid white;
}
#regist_container #rememberOrfindPwd{
	display: inline-block;
	height: 40px;
}

/* 注册表单结束 */
header nav{
	background-color: blanchedalmond;
	border-radius: 5px;
	width: 980px;
	margin-bottom: 12px;
}
ul#topNavUrl{
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul#topNavUrl li{
	width: 20%;
	line-height: 40px;
	display: inline-block;
}
ul#topNavUrl li:hover{
	color: deepskyblue;
}
#imgSection2{
	width: 980px;
	border-radius: 5px;
}
/* 网页中部 */
.container {
    margin: 12px auto;
    width: 980px;
    overflow: hidden;
    zoom: 1;
}
/* 侧边栏 */
span{
	font-size: 20px;
}
aside{
	width: 24%;
	float: left;
}
aside nav{
	width: 100%;
	margin-bottom:12px;
	background-color: blanchedalmond;
	border-radius: 5px;
	
}
aside nav ul{
	list-style: none;
}
aside nav ul li{
	width: 100%;
	padding: 5px 0;
}
aside #img1{
	height: 40px;
	width: 180px;
}
aside #img2{
	height: 20px;
	width: 180px;
}
aside section{
	width: 100%;
	background-color: blanchedalmond;
	border-radius: 5px;	
}

aside section ul li{
	width: 100%;
	padding: 5px 0;
}

aside sectionc #img1{
	width: 180px;
	height: 25px;
}
aside section ul{
	height: 22px!important:height:24px;
	list-style: none;
}
/* 正文 */
section#main{
	width: 75%;
	float: right;
	background-color: blanchedalmond;
	border-radius: 5px;
}

article{
	padding:0 10px;
	width: 690px;
	height: 500px;
}

article header{
	width: 100%;
	font-size: 20px;
}

article #img1{
	width: 154px;
	height: 229px;
}
article #left{
	float: left;
	overflow: hidden;
	zoom: 1;
	margin-top: 12px;
}
article #right{
	margin-top: 12px;
}
article ul{
	list-style: none;
}
article #right li{
	padding-left: 10px;
}

/* 媒体查询 */
@media screen and (max-width:900px) {
	header#webTitle {
	    width:100%;
	    overflow:hidden;
	    *zoom:1;
	}
	
	#sectionTop1{
		width: 100%;
	}
	
	header nav{
		width: 100%;
	}
	
	ul#topNavUrl li{
		height: 30px;
	}
	
	#imgSection2{
		width: 100%;
		height: auto;
	}
	
	.container {
	    width: 100%;
	}
	
	aside{
		width: 100%;
		float: none;
		padding:0;
		margin-bottom: 12px;
	}
	section#main{
	    width: 100%;
		float: none;
	}
}

@media screen and (max-width:710px) {
	#topRight{
		display: none;
	}
}

