<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
		
	</head>
	<body>
		<header id="webTitle">
			<section id="sectionTop1">
				<div id="topLeft"><img src="images/2.jpg" id="imglogo1"></div>
				<div id="topMid">
					<div id="wrap">
						<input type="text" placeholder="百度一下" maxlength="10" v-model="t1" id="txt" @keyup="get($event)" @keydown.down="changeDown()" @keyup.up.prevent="changeUp()" />
						<input type="button" class="btn" id="button" value=" " @click="baidu()">
						<ul id="res">
							<li v-for="(item, index) in myDate" @click="searchLink(index)" 
							@mouseover="now = index" :class="{active:index==now}">
							{{item}}</li>
						</ul>
					</div>
				</div>
				<div id="topRight">
					<button type="button" id="userLogin"></button>
					<button type="button" id="user-Register"></button>
				
					
				</div>
			</section>
			<nav>
				<ul id="topNavUrl">
					<li>
						<span>首页</span>
					</li><li>
						<span>音乐</span>
					</li><li>
						<span>视频</span>
					</li><li>
						<span>文章</span>
					</li><li>
						<span>讨论区</span>
					</li>
				</ul>
			</nav>
			<section id="sectionTop2"><img src="images/13.jpg" id="imgSection2"></section>
		</header>
		<div class="container">
			<section id="main">					
				<article>
					<header>本站简介</header>
					<div id="left"><img src="images/3.jpg" id="img1"></div>
					<div id="right">
						<ul>
							<li>Lorem ipsum dolor sit am  Lorem ipsum dolor sit amet, c
							onsectetur adipisicing elit. Sed eum tempore perspiciatis ad quasi 
							consequatur necessitatibus praesentium ratione nihil fugit!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Ipsa iste totam quos nam harum esse amet distinctio pariatur 
							consectetur non.</li>
							<li>Lorem ipsum dolor sit am  Lorem ipsum dolor sit amet, c
							onsectetur adipisicing elit. Sed eum tempore perspiciatis ad quasi 
							consequatur necessitatibus praesentium ratione nihil fugit!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Ipsa iste totam quos nam harum esse amet distinctio pariatur 
							consectetur non.</li>
							<li>Lorem ipsum dolor sit am  Lorem ipsum dolor sit amet, c
							onsectetur adipisicing elit. Sed eum tempore perspiciatis ad quasi 
							consequatur necessitatibus praesentium ratione nihil fugit!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Ipsa iste totam quos nam harum esse amet distinctio pariatur 
							consectetur non.</li>
							<li>Lorem ipsum dolor sit am  Lorem ipsum dolor sit amet, c
							onsectetur adipisicing elit. Sed eum tempore perspiciatis ad quasi 
							consequatur necessitatibus praesentium ratione nihil fugit!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Ipsa iste totam quos nam harum esse amet distinctio pariatur 
							consectetur non.</li>
							<li>Lorem ipsum dolor sit am  Lorem ipsum dolor sit amet, c
							onsectetur adipisicing elit. Sed eum tempore perspiciatis ad quasi 
							consequatur necessitatibus praesentium ratione nihil fugit!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Ipsa iste totam quos nam harum esse amet distinctio pariatur 
							consectetur non.</li>
							<li>Lorem ipsum dolor sit am  Lorem ipsum dolor sit amet, c
							onsectetur adipisicing elit. Sed eum tempore perspiciatis ad quasi 
							consequatur necessitatibus praesentium ratione nihil fugit!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Ipsa iste totam quos nam harum esse amet distinctio pariatur 
							consectetur non.</li>
						</ul>
					</div>
				</article>
			</section>
			<aside>
				<nav>
					<span>最新发布文章</span>
					<ul>
						<li>&middot;《全民编程》我在微软生活中所接触的 
						</li><li>&#203;Eclipse安装SVN插件方式简明介绍
						</li><li>&#239;使用Eclipse调试Java程序的10个技巧 
						</li><li>&#241;三步学会Java Socket编程 
						</li><li>&#255;程序员妻子自述: 那些程序员教给我的
						</li><li>&#221;我希望在20岁时就知道的26条时间管理 
						</li><li>&#214;详解Java解析XML的四种方法 
						</li><li>&#208;Java数组声明、创建、初始化
						</li>
					</ul>
				</nav>
				<section>
					<ul>
						<span>联系方式</span>
						<li><address>&#174;地址：时钟.</address></li>
						<li><address>电话：时钟</address></li>
						<li><address>传真：时钟.</address></li>
						<li><address>email：时钟.</address></li>
						<img src="images/10.jpg" id="img1">
					</ul>
				</section>
			</aside>
			
		</div>
		<footer></footer>
		
				<!-- 用户登录注册界面 -->
<div class="user-modal">
	<div id="user-form" style="">
		<!-- 登录注册按钮 -->
		<div class="loginBtn">
				<button type="button" id="btn-left">登录</button>
				<button type="button" id="btn-right">注册</button>
		</div>
			<!-- 登录界面 -->
		<div id="login_container">
			<input type="text"  placeholder="用户名" id="login_number"  />
			<input type="password"  placeholder="密码" id="login_password" /><br>
				
			<div class="rememberOrfindPwd">
				<div class="remember-left">
					<button type="button"  id="login_btn">登录</button>
				</div>
				<div class="remember-right">
					<input id="remember" type="checkbox" style="margin-bottom: -1.5px;">
					<span >记住密码</span>
				</div>
			</div>
		</div>
			<!-- 注册界面 -->
			<div id="regist_container">
				<input type="text"  placeholder="用户名" id="register_number"  />
				<input type="password"  placeholder="密码" id="register_password" /><br>
				<input type="password"  placeholder="确认密码" id="register_password2" /><br>
				<div class="rememberOrfindPwd">
					<div class="remember-left">
						<button type="button"  id="register_btn">注册</button>
					</div>
					<div class="remember-right">
						
					</div>
				</div>
			</div>
	</div>
</div>	
		
		<script type="text/javascript">
			/* 百度搜索框 */
			var vm = new Vue({
							el: '#wrap',
							data: {
								myDate: [],
								t1: '',
								now: -1
							},
							methods: {
								get: function(ev) {
									if (ev.keyCode == 38 || ev.keyCode == 40) return
			
									if (ev.keyCode == 13) {
										window.open('https://www.baidu.com/s?wd=' + this.t1);
										this.t1 = ''
									}
									this.$http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su", { //跨域请求数据
										params: {
											wd: this.t1
										},
										jsonp: 'cb'
									}).then(function(res) {
										this.myDate = res.data.s
									}, function(res) {
										alert(res.status)
									});
									//alert("1");
								},
								changeDown: function() {
									this.now++;
									if (this.now == this.myDate.length) {
										this.now = 0;
									}
									this.t1 = this.myDate[this.now];
								},
								changeUp: function() {
									this.now--;
									if (this.now == -2) {
										this.now = this.myDate.length - 1;
									}
									this.t1 = this.myDate[this.now];
								},
								searchLink: function(index) { //鼠标点击跳转
									this.t1 = this.myDate[index]
									this.now = index
									window.open('https://www.baidu.com/s?wd=' + this.t1)
								},
								baidu:function(){
									window.open('https://www.baidu.com/s?wd=' + this.t1);
									this.t1 = ''
								}
							}
						})
						
				/* jQuery弹窗登录注册 */
				$(function(){
					$("#userLogin").click(function(e){
						/* alert("nice"); */
						$(".user-modal").css("display","block");
						$("#login_container").css("display","block");
						$("#btn-right").click(function(){
							$("#btn-right").css("background-color","#80808029").css("border","1px solid #80808029")
							$("#btn-left").css("background-color","white").css("border","1px solid white");
							$("#login_container").css("display","none");
							$("#regist_container").css("display","block");
						})
						$("#btn-left").click(function(){
							$("#btn-right").css("background-color","white").css("border","1px solid white")
							$("#btn-left").css("background-color","#80808029").css("border","1px solid #80808029");
							$("#login_container").css("display","block");
							$("#regist_container").css("display","none");
						});
					});
					$("#user-Register").click(function(e){
						/* alert("nice"); */
						$("#btn-right").css("background-color","#80808029").css("border","1px solid #80808029");
						$("#btn-left").css("background-color","white").css("border","1px solid white");
						$(".user-modal").css("display","block");
						$("#regist_container").css("display","block");
						$("#btn-right").click(function(){
							$("#btn-right").css("background-color","#80808029").css("border","1px solid #80808029")
							$("#btn-left").css("background-color","white").css("border","1px solid white");
							$("#login_container").css("display","none");
							$("#regist_container").css("display","block");
						})
						$("#btn-left").click(function(){
							$("#btn-right").css("background-color","white").css("border","1px solid white")
							$("#btn-left").css("background-color","#80808029").css("border","1px solid #80808029");
							$("#login_container").css("display","block");
							$("#regist_container").css("display","none");
						});
					});
				});
				
		</script>
	</body>
</html>
